name: Python 3.11.8 32-bit Builder

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11.8]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            zlib1g-dev:i386 \
            libncurses5-dev:i386 \
            libgdbm-dev:i386 \
            libnss3-dev:i386 \
            libssl-dev:i386 \
            libreadline-dev:i386 \
            libffi-dev:i386 \
            wget \
            curl \
            libbz2-dev:i386 \
            libsqlite3-dev:i386 \
            liblzma-dev:i386 \
            gcc-multilib \
            g++-multilib \
            libexpat1-dev:i386 \
            libuuid1:i386

      - name: Set up cache for Python source
        uses: actions/cache@v3
        id: build-cache
        with:
          path: /home/runner/.millennium/ext/data/cache
          key: ${{ runner.os }}-python-linux-3.11.8-build
          restore-keys: ${{ runner.os }}-python-linux-3.11.8-build-

      - name: Download Python 3.11.8 source
        if: steps.build-cache.outputs.cache-hit != true
        run: |
          wget https://www.python.org/ftp/python/3.11.8/Python-3.11.8.tgz
          tar -xf Python-3.11.8.tgz

      - name: Configure and build Python 3.11.8 (32-bit)
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p $HOME/.millennium/ext/data/cache
          cd Python-3.11.8
          sudo CFLAGS="-m32" LDFLAGS="-m32" ./configure --prefix=$HOME/.millennium/ext/data/cache --enable-optimizations
          sudo make -j$(nproc)
          sudo make altinstall
  
      - name: Setup installation
        if: steps.build-cache.outputs.cache-hit != 'true'
        run: |
          sudo mkdir -p $HOME/.millennium/ext/data/cache/lib/tmp
          cd $HOME/.millennium/ext/data/cache/lib/tmp
          sudo ar -x ../libpython3.11.a
          sudo gcc -m32 -shared -o ../libpython-3.11.8.so *.o
  
          cd $HOME/.millennium/ext/data/cache/lib
          sudo rm -rf tmp
          ls
  
          sudo mkdir -p $HOME/Documents/LibPython/
          cd $HOME/.millennium/ext/data/cache/include/python3.11/
          sudo mv * $HOME/Documents/LibPython/
  
          sudo rm -rf $HOME/.millennium/ext/data/cache/lib/python3.11/test/
          sudo rm -rf $HOME/.millennium/ext/data/cache/share
          sudo rm -rf $HOME/.millennium/ext/data/cache/include
          sudo rm -rf $HOME/.millennium/ext/data/cache/lib/python3.11/__pycache__/
          sudo rm -rf $HOME/.millennium/ext/data/cache/lib/python3.11/config-3.11-x86_64-linux-gnu/
          sudo rm $HOME/.millennium/ext/data/cache/lib/libpython3.11.a
  
          sudo mv $HOME/.millennium/ext/data/cache/lib/libpython-3.11.8.so $HOME/.millennium/libpython-3.11.8.so
  
          $HOME/.millennium/ext/data/cache/bin/python3.11 --version
          mkdir -p /home/runner/env/ext/data
          sudo cp -r $HOME/.millennium/ext/data/cache /home/runner/env/ext/data

      - name: Upload Python 3.11.8 (32-bit) artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-3.11.8-32-bit
          path: /home/runner/.millennium/