name: Publish to AUR

on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  aur-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@v0.9.0
        with:
            ssh-private-key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}

      - name: Clone AUR repository
        run: |
          git clone ssh://aur@aur.archlinux.org/python-i686-bin.git aur-repo
          cd aur-repo

      - name: Copy necessary files
        run: |
          cp PKGBUILD .SRCINFO aur-repo/
          cd aur-repo
          git add PKGBUILD .SRCINFO

      - name: Commit and push
        run: |
          cd aur-repo
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"
          git commit -m "Automated update: PKGBUILD and .SRCINFO" || echo "No changes to commit"
          git push
